  <div class="col-md-4" style=" border:5px solid <%= border_color(@page) %>;">
    <%= image_tag(image_scanned_page_path(@page.id), width: "500px", id: 'imgbox') %>
  </div>
  <div class="col-md-8" id="autredepot" style="width:930px; height: 450px; padding-left: 0.5em; float: left; margin-left: 10px; border-style: solid;overflow-x: hidden; overflow-y: auto;">
  </div>

