<div align='center'>© PIXTRAKK | <%= l Time.now, format: :short %> | <%= link_to "image search", page_constantin_path(page: @page.id), style: "color:white", target: "_blank" unless @page.nil? %></div>
